# Python cache
__pycache__/
*.py[cod]
*.ipynb_checkpoints

# Entornos virtuales
env/
venv/
.venv/

# Archivos grandes o temporales
*.csv
*.zip
*.npy
*.h5
*.pth
*.pt
*.pkl
*.json
*.sqlite
.DS_Store

# Archivos de configuración local
.env
*.log

# Jupyter Notebook output
*.checkpoint
